# Импорты

In [23]:
import os
import sys
import json

import pandas as pd

os.chdir("../..")

from solution.constants import REVIEWS_PATH, PRODUCTS_PATH, RETURN_REASONS_PATH, RETURNS_PATH, TEST_PATH

# Загрузка данных

## Products

In [12]:
products_df = pd.read_parquet(PRODUCTS_PATH)
products_df.sample(5)

,product_id,category_id,category_title,product_description
57190,4e013d267d443bc691e60cf7cb44fcea8ff75cc1cc0678...,16ee77b7eb3bab156ec3ba5a4b9212bccf1101bdffab4e...,Dezodorantlar va antiperspirantlar,"b'{""ru"":""\\u0414\\u0435\\u0437\\u043e\\u0434\\..."
48859,69ce2cb24aee6fcda13255c7cf6aaadd25dffa395f3ba5...,bc49610ac7b4e130641c1f7119215218b69015557d1f04...,Подвески и кулоны,"b'{""ru"":""\\u0425\\u043e\\u0442\\u0438\\u0442\\..."
105661,583385021710882ca9af33966b35cc058ff510c569c165...,0d868080e76c8d7baaa2eca062aa73d17a4cd7f8912f68...,Толстовки,"b'{""ru"":""\\u0422\\u043e\\u043b\\u0441\\u0442\\..."
44067,b3ec2cbff3328d862e79e60c40b3005942cc9db472c4b5...,d8ed0b6368d91169030524bdfd199b30dc61dda8a88a19...,Автомобильные пылесосы,"b'{""ru"":""\\u041c\\u043e\\u0449\\u043d\\u043e\\..."
38878,181485d3648991bee5ff1ab00b1c9f7b42fa90934c8dcc...,07398914761a0c88320adeb73ff9a9392686616bba49c9...,Футболки,"b'{""ru"":""\\u0424\\u0443\\u0442\\u0431\\u043e\\..."

In [35]:
bytes_string = b"\\u0428\\u0430\\u0440\\u0438\\u043a\\u043e\\u0432\\u044b\\u0439"
translated_string = bytes_string.decode('unicode_escape')
print(translated_string)

Шариковый

In [36]:
tmp.decode("unicode_escape")

'{"ru":"Шариковый антиперспирант от пота и запаха, антиперспирант от пота и запаха","uz":"Ter va hidga qarshi sharikli antiperspirant, ter va hidga qarshi"}'

## Return Reasons

In [4]:
return_reasons_df = pd.read_parquet(RETURN_REASONS_PATH)
return_reasons_df.head()

   id          reason
0   1        DEFECTED
1   2      WRONG_ITEM
2   3     BAD_QUALITY
3   4  PHOTO_MISMATCH
4   5      WRONG_SIZE

## Returns

In [5]:
returns_df = pd.read_parquet(RETURNS_PATH)
returns_df.sample(5)

,id,product_id,cause,comment,date_created,order_item_id,customer_id,purchase_price
index,,,,,,,,
81745,934150,3627cde6a3ea8823fa0228ced9d486d20ad5d2ee90bb64...,DEFECTED,товар на диагностику отправили сказали что нуж...,2023-06-19 13:18:26.507,6212301,eb0c6bc1ee663994975e2f2e61d5eab8819d22015eb8af...,390000
40738,472050,8eafd1f093166b990274847a746ba19b5f4122fdfb1965...,WRONG_SIZE,БОЛ,2023-04-23 14:43:46.055,4469121,b36a3611b871f24bead32b1b0eb287ebf1eaf1844d4db5...,49000
233336,3016023,c0ac634cc69637eb40789508c8ab8864a1d6a67fee9176...,WRONG_ITEM,другой вкус,2023-11-03 05:41:14.317,21651361,f1cf713f9db9b69fb00b260d42306a76881d4f9519f194...,59000
10978,166296,3bc9922888245f0be91e42ca67f043a3ce4dcc83f06440...,WRONG_SIZE,неправильный размер,2023-02-21 11:38:09.652,1833349,e043631c030ccd22d95d20b834a45ae6b72f92727f5141...,125000
97851,1155852,40cf646374004b545309410e2d51c0d13c9618d9d6f57e...,DEFECTED,Дырявый,2023-07-07 11:04:18.671,8954680,94ea75c99e55f9d0a6f898a9b53281b10ec87ad2abb995...,490000

## Reviews

In [6]:
reviews_df = pd.read_parquet(REVIEWS_PATH)
reviews_df.sample(5)

,order_item_id,product_id,customer_id,review_text,shop_id,rating,date_created
545477,18355970,0b49cd5fd93195ee6018ce5746ef942ad0dfd72fd8086b...,0a91b933864fa4ac8b2d66f4595545aacf9b5ddbe4406f...,Зубочистки классные.,396f804443825586c1283a27fdcadf74abb82008bcd9b2...,5,2023-10-09 09:33:13.359
1339798,29900113,8b504151376c2ab89d83c7f94ad8c97f677d5595b2823a...,5c429ba5b4fff81395f73b822189662b661e7a0dc81e0f...,Классный,b906e4061c4a678dd89a63a670cccdb0a034e70d456ba9...,5,2024-01-01 12:09:16.574
217491,7862076,99204b904c798404ba476ff04cf555b917ddc6233ad14b...,fe3ef5be53d0ec7b1e4977fafaaffab49f3079aec27771...,podelka ekan,953815689985e39a762284426cd5884050ea56b7001aa3...,1,2023-06-19 17:35:30.511
990538,26399901,b56e3881790e697be618d33c159a6b00ab347c91951b1d...,da4279209226cb12ca93727e6a04a7e776a85aeeed9d20...,узкие. не понравились,3ba03660d7f9269cfb1d50889993616599381f486d1c44...,3,2023-12-11 17:12:36.049
1015111,26613729,023b435672c51d42ebce637f11376090ebcd6b963874ab...,2f142d470a407fa2aca9deb586b04c0fd7e222c93eecc6...,,8e3e0657ab5dc2ad10183d51e1a8b170db19f0b06e538d...,5,2023-12-11 19:32:41.484

## Test

In [8]:
test_df = pd.read_parquet(TEST_PATH)
test_df.sample(5)

,id,order_item_id,product_id,customer_id,purchase_price
33368,4339065,29838552,f7c55d8b3b611ba370f748cca7b29194d8d840a0dbb065...,57cb6f994fc63d0b06f31efc9e7e419ec2fa455e536cea...,960000
27736,4242803,29386350,0a2f7648c8b360998984fdfce7fb37773e19c09a9f1c3b...,b826606f8886e8df36f1daf444923784eb042add1efc38...,79000
26655,4221744,29122320,368df3b63613655584a93261ec5b089629a4b6a244dee3...,0bef3cd31c6e57d1d7deddf880f832c91dfa2030dd870a...,12000
33709,4343141,29457130,4fa8d8bbba56608f0926aa7ba9ba76188ab3ad61c0c9af...,ad23fc3d3f626d3f045989a0bd6f29d310d6406dde0032...,249000
2287,3854871,26417825,e51130c9316df83c2a08b30ea5a74f8a33ae4e8f26df29...,4b16083e02f21943f1f7f7809bcf036b8c015f2288ff13...,9000