# Импорты

In [1]:
import os
import sys
import json

import pandas as pd

os.chdir(os.path.join("..", ".."))

from solution.constants import REVIEWS_PATH, PRODUCTS_PATH, RETURN_REASONS_PATH, RETURNS_PATH, TEST_PATH

# Загрузка данных

## Products

In [2]:
products_df = pd.read_parquet(PRODUCTS_PATH)
products_df.sample(5)

,product_id,category_id,category_title,product_description
62550,6fc4b4ad986ae1c894d64c637755dbd0af55c5c18ea58d...,5047c52df0613016fb90e7042f93f8981bb6cb5825727c...,Головоломки,"b'{""ru"":""\\u041c\\u0430\\u0442\\u0435\\u043c\\..."
70951,ff6824e8aa9eb77ba1a7a13c27dd9a127af7921071c9a0...,480a98886cc4530fd8c1f888ff71fc23213be3d120eba2...,Маски тканевые,"b'{""ru"":""\\u041c\\u0430\\u0441\\u043a\\u0430 \..."
15986,5560f79506a7f8b0f2ada8555e1467dad8a7561548aeb0...,76a6e0d29167a15261b5b82424f4ef392f0a2ce49c4a0e...,Кофемашины,"b'{""ru"":""\\u0413\\u0435\\u0439\\u0437\\u0435\\..."
94108,cc85ecde1f68d3fa6a86f5aa65ef330d1ea4af16eaea7e...,ea369ca3a6b4b18a88f0b68fdc0f3c476b95c7f736b055...,Блендеры,"b'{""ru"":""\\u0411\\u043b\\u0435\\u043d\\u0434\\..."
32603,f9ee9a97ab9ec2fb6a1ba710b15cbdca581e6ce91d48c8...,0cbfd7dcfba7c08b2893bd2045a407f8ef5b86f9ea6c6e...,Suyuq sovun,"b'{""ru"":""\\u0410\\u043d\\u0442\\u0438\\u0431\\..."

In [3]:
bytes_string = b"\\u0428\\u0430\\u0440\\u0438\\u043a\\u043e\\u0432\\u044b\\u0439"
translated_string = bytes_string.decode('unicode_escape')
print(translated_string)

Шариковый

In [19]:
products_df.shape

(113713, 4)

## Return Reasons

In [5]:
return_reasons_df = pd.read_parquet(RETURN_REASONS_PATH)
return_reasons_df.head()

   id          reason
0   1        DEFECTED
1   2      WRONG_ITEM
2   3     BAD_QUALITY
3   4  PHOTO_MISMATCH
4   5      WRONG_SIZE

## Returns

In [14]:
returns_df = pd.read_parquet(RETURNS_PATH)
returns_df.sample(5)

,id,product_id,cause,comment,date_created,order_item_id,customer_id,purchase_price
index,,,,,,,,
8001,139046,4ba285c8861d2d4fe24c868f7e317fe3eaefe9c7775b99...,DEFECTED,сломанная ручка,2023-02-13 08:33:47.671,1559733,09d3f955396fcff4901ae48ab4e57422e5b19af696468f...,107000
213484,2690764,f31059d1bec85663f5b531b97f4877fdbb6df097815e83...,WRONG_SIZE,Маленький,2023-10-17 08:43:57.447,19521667,a3e3a7e4e0ea7793b0b9d2474be1cf9c08648718f0e1a9...,30000
217676,2750424,2764d9356a5d0280e537dd5676aa8c482f033db49fc6d1...,WRONG_SIZE,,2023-10-20 12:14:53.982,19487868,a408ec2ce4b1bcc618e24a4ea4171b92845139559e2d55...,10000
216930,2734971,abd1c15d6c31db536740fb5970d5b4e2f10f0f9b3937d0...,DEFECTED,1,2023-10-19 14:45:49.160,19505514,36f2b2f2f78ce8688f859d723caacfdd59f35db19a3df8...,180000
181444,2226671,e0dd5b56d48fe9e8046724ed3f02eaba5c5242cf45e8c1...,DEFECTED,не держит температуру и протекает с бока,2023-09-22 10:02:41.722,16538917,01983fc88585852a208e0d46c470fce3c4024dd26d81f7...,100000

In [25]:
returns_df.product_id.unique().shape

(80588,)

## Reviews

In [17]:
reviews_df = pd.read_parquet(REVIEWS_PATH)
reviews_df.sample(5)

,order_item_id,product_id,customer_id,review_text,shop_id,rating,date_created
669994,20544279,e0e9a2d2bb6ddfb6cc7865d1785f34451ca7dda9f32b0d...,74ecbcd551d50566ab4f43a795b435a4fae61e81b38f41...,,dadac7208d25d80e39b1fc3ef9753063e33bd474c706fd...,5,2023-10-27 10:01:37.477
927319,24313959,d30b821754f3f46aa729bebb4d835881ee7cff9a857d27...,3f966053b0a6c44ff74d2cafa8194b25b007fa06b764d3...,tôgrisini aytsam lab bôyoq uncha yoqmadi olgan...,aa1afcfd3a19edd5b93b95bdab4decab5a56bea75872ef...,1,2023-11-27 11:38:21.980
706483,18697955,0c2f75bdf9c3ca29632764b8ef42299bf8f1a708ccc0f8...,2b08fc1cd729fd468721a09377c7e86c9c2f86678a637b...,классная незаменимая вещь.,ecac903ea62dc1d5446a88330af0a17ce89c7787e5aaf4...,5,2023-11-01 16:37:03.900
1198415,27732983,43779bdfe9b4914b52a7596d02ce406f28de9fabaa1af9...,c8aade919a7da5a368576270cd679099f0916405fec8f0...,bu ajoyib Sifat zòr Raxmat,fea03f0b0237ebd3578b4e6ed17a1df24d7dfc7693ebb4...,5,2023-12-22 08:33:19.232
165989,6549611,17c0a70c361beaf824415c4239d87bac4423b0b322b636...,70a5b718895cbe4866ad62cedff9e3314b480864092e40...,"хорошие, удобные губки",10f6b6ad5e069f3b97acb8979dc276b9a1c04beb48dd9f...,4,2023-06-08 08:34:51.955

In [26]:
reviews_df.product_id.unique().shape

(79137,)

## Test

In [8]:
test_df = pd.read_parquet(TEST_PATH)
test_df.sample(5)

,id,order_item_id,product_id,customer_id,purchase_price
34959,4383873,30138418,ea517b9879607ad8624b956de69a1d0cdabfb7a1ec7d9f...,0d99e6501d03025fee0f66dc552ee5ba7a9c434b4e9348...,179000
30444,4290806,29714359,44e7630570d0386a09bc5dddaf3d428723bb3d2b6525f1...,2f176bc381c3157ec8f2141c38ab6a3ba5629be67dc033...,19000
69274,4922147,33466448,69625bff836378aa3bd6aa98adce243bb2ebc473c1a31b...,f9ef462367e513e1ff0e544e5cc40ea47556b7f54ec799...,91000
33612,4341994,29447176,75c21786aefe460edbb3e087684aaee73a3777ee73883a...,69bcf1aa9c89ebfae1196e916e653eac089023d71e5308...,79000
49487,4626112,31536912,e4313254cbf6b3efa273f324005a53657ce5a8f191185b...,e36e7ec946a947c2ea1c282aadeb7e555c7dde5f8059bd...,89000

In [32]:
test_df.shape

(71323, 5)

In [27]:
test_df.product_id.unique().shape

(27455,)

In [35]:
len(set(test_df.product_id.unique()) & set(reviews_df.product_id))

23156

In [ ]:
test_df.isin